body{
    margin: 0px;
}

a {
    background-color: transparent;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    border-radius:16px; 
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: bold;
}

a:hover {
    background-color: #555;
}

a:active {
    background-color: black;
}

.titulo-cuento { color: #111; 
    font-family: 'Concert One', sans-serif; 
    font-size: 38px; 
    text-align: center; 
    margin-top: 20px;
}

.imagen-fondo {
    background-image: url("/images/fondo.png");
    background-color: #cccccc;
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.emfasis-letra{
    font-size: 35px;
    text-shadow: 1px 1px 2px darkgrey;
}

.contenedor-cuento-principal{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.contenedor-cuento-principal p{
    text-align: justify;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
}

.menu{
    position: absolute;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botones-cuento{
    background-color: rgb(36, 35, 35);
    color: white;
    padding: 1em 1.5em;
    padding-bottom: 10px;
    text-decoration: none;
    border-radius:16px; 
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
}

.botones-cuento:hover{
    background-color: crimson;
}


.lista-frases{
    font-family: 'Open Sans',sans-serif;
    font-style: italic;
    margin-left: 30px;
}

.right-phrase{
    text-align-last: right;
    font-style: italic;
    margin: 0px;
}

.seccion-titulo{
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
}

.imagen-general-cuento{
    margin-left: 35.5%;
    margin-top: 20px;
    box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
}

.glosario-termino{
    text-shadow: 1px 1px 2px darkgrey;
}

#titulo-edgar-bio { 
    color: #111; 
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 38px; 
    font-weight: 600; 
    line-height: 48px; 
    margin: 24px 0 0 24px;     
    text-align: center; 
}

#fecha-edgar{
    color: #111; 
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 20px; 
    font-weight: normal;  
    margin-top: auto;   
    text-align: center; 
}

#titulo-c{
    text-align: center;
    font-size: 45px;
    font-family: 'Open Sans',sans-serif;
    font-weight: bold;
    padding-top: 30px;
    margin: 0px;
    color: blanchedalmond;
}

#imagen-bio{
    margin-left: 37.5%;
    margin-top: 20px;
    box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
}

#contador-comentarios{
    text-align: right;
    font-family: 'Open Sans';
    color: #cc184e;
    text-decoration: none;
}
#contador-comentarios:hover{
    text-decoration: underline;
    background-color: azure;
}

